/* Resetear estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  color: #333;
}

form {
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

form label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}

input {
  font-family: "Roboto", sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
  color: #333;
}



/* Chat Box Styling */
#wrapper,
#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #ffffff;
  width: 100%;
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#loginform {
  padding-top: 15px;
  text-align: center;
  padding-bottom: 0px;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #444;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 25px;
  padding: 10px;
  background: #fef26c2f;
  height: 300px;
  width: 100%;
  max-width: 95%;
  border: 1px solid #ccc;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #ffae00;
  padding: 8px;
  font-size: 1rem;
  color: #333;
}

#name {
  border-radius: 4px;
  border: 1px solid #ffae00;
  padding: 8px;
  font-size: 1rem;
  color: #333;
}

#submitmsg,
#enter {
  background: #ffae00;
  border: none;
  color: black;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#error-message {
  color: #dc3545;
  font-size: 1rem;
  margin-top: 10px;
}

#menu {
  padding: 15px 25px;
  display: flex;
  background-color: #ffc107;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#menu p.welcome {
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

a#exit {
  color: white;
  background: #af1111;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

/* Estilo de los mensajes */
.msgln {
  margin: 0 0 5px 0;
}





.msgln span.left-info {
  color: rgb(201, 41, 41);
}

.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}

.msgln b.user-name,
.msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

/* Mensaje de salida de usuario */
.msgln b.user-name-left {
  background: rgb(201, 41, 41);
}